body {
    margin: 0;
    padding: 0;
}

html {
    font-family: Lato;
}

/* navbar */

.navbar {
    max-width: 640px;
    margin: 50px auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.navbar_logo {
    margin-right: 30px;
}

.navbar_navigation {
    display: flex;
    align-items: center;
    list-style: none;
    color: #5C6B70;
}

.navbar_navigation-item {
    margin-left: 50px;
}

.navbar_link {
    text-decoration: none;
    color: inherit;
}



/* form */

.main {
    max-width: 450px;
    margin: 0 auto;
    padding: 0 20px;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form_input {
    width: 100%;
}

.form_label {
    display: block;
    margin-bottom: 10px;
}

.form_textarea {
    width: inherit;
    font-size: 18px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    background-color: lightgray;
    margin-bottom: 10px;
}

.form_submit {
    background-color: lightseagreen;
    border: none;
    padding: 5px 30px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
}

.form_submit:hover {
    background-color: darkcyan;
}


/* blog */

.entry {
    margin-top: 50px;
}

.entry_title {
    display: inline;
    font-size: 16px;
}

.entry_date {
    color: #5C6B70;
}

.entry_content {
    font-size: 14px;
    line-height: 150%;
}


/* footer */

.footer {
    background-color: darkslategrey;
    padding: 40px 0;
    margin: 50px 0 0 0;
    color: white;
    font-size: 12px;
    border-top: 4px solid black;
    /* height: auto; */
    bottom: 0;
    position: absolute;
    width: 100%;
}


.footer_content {
    display: flex;
    justify-content: space-between;
    max-width: 640px;
    margin: 0 auto;
}


.footer .left {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}


.footer .right {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.footer_column {
    display: flex;
    flex-direction: column;
    /* margin-left: 50px; */
}


.footer_item {
    margin-bottom: 5px;
}